version: 2.1
executors:
  node:
    docker:
      - image: circleci/node:latest-browsers
    working_directory: ~/umi

environment:
  NODE_ENV: test
  NODE_OPTIONS: --max_old_space_size=4096
  NPM_CONFIG_LOGLEVEL: error
  JOBS: max # https://gist.github.com/ralphtheninja/f7c45bdee00784b41fed

jobs:
  yarn_build:
    executor: node
    steps:
      - checkout
      - run: yarn install
      - run: yarn build
      - run: bash <(curl -s https://codecov.io/bash)
      - run: |
         echo "$PASSWORDS" | docker login --username $USERNAME --password-stdin
      - run: docker build -t dockerumirun/dockerumirun:latest .
      - run: docker push dockerumirun/dockerumirun:latest
workflows:
  version: 2
  build-test:
    jobs:
      - yarn_build:
          filters:
            branches:
              ignore:
                - gh-pages
                - /release\/.*/
